.shell {
  height:auto;
  display:block;
  float:left;
  clear: both;
  margin: 0 3px;
  position:relative;
}
.shell .vCheckbox {
  cursor:pointer;
  box-sizing:border-box;
  border-radius:3px;
  position: absolute;
  left:0;
  top:0;
  width:inherit;
  height: inherit;
}
.vCheckboxLabel{
  cursor:pointer;
}
.shell .vCheckbox::before {
  content:'';
  position:absolute;
  text-align:center;
  box-sizing: border-box;
  transition:all .2s linear;
}
.shell .checked::before {
  background-color:black;
}
.shell .unchecked::before{
  background-color:white;
  border:1px solid black;
}
.xCnative{
  visibility: hidden;
  position: absolute;
  left: 0;
  top:0;
}