.vCheckboxWrapper {
  height:auto;
  display:block;
  top:0px;
  position: relative;
  margin-right:5px;
}
.vCheckboxWrapper :focus{ 
  outline: none;
}
.vCheckboxWrapper .vCheckbox {
  cursor:pointer;
  box-sizing:border-box;
  border-radius:3px;
  position: absolute;
  left:0;
  top:0;
  width:inherit;
  height: inherit;
}
.vCheckboxLabel{
  cursor:pointer;
  margin-right:5px;
}
.vCheckboxWrapper .vCheckbox::before {
  content:'';
  position:absolute;
  text-align:center;
  box-sizing: border-box;
  transition:content .2s linear;
  width:inherit;
  height: inherit;
}
.xCnative{
  visibility: hidden;
  position: absolute;
  left: 0;
  top:0;
  display: block;
  z-index: -1;
  left: -999px;
} 