/*list parent container */
.vlistParentXContainer{
    overflow: hidden!important;
    width: 100%!important;
    position: relative!important;
    /* height: 100%!important; */
    /* z-index:100!important; */
}

/*Style list parent */
.vlistParentX{
    display: flex!important;
    white-space: nowrap!important;
    position: absolute;
    padding: 0px!important;
    list-style: none!important;
}
.vlistParentX{
    flex-direction: row!important;
}

/*Style list */
.vlist{
    flex-shrink: 0!important;
}
/*  */