.shell {
  height:auto;
  display:block;
  float:left;
  clear: both;
  margin: 0 3px;
  position:relative;
}
.shell .vRadioButton {
  cursor:pointer;
  box-sizing:border-box;
  border-radius:100%;
  position: absolute;
  left:0;
  top:0;
  width:inherit;
  height: inherit;
}
.vRadioButtonLabel{
  cursor:pointer;
}
.shell .vRadioButton::before {
  position:absolute;
  content:'';
  border-radius:100%;
  transition:all .2s linear;
}
.shell .selected::before {
  background-color:black;
}
.shell .deselected::before{
  background-color:white;
  border:solid 1px black;
}
.xRnative{
  visibility: hidden;
  position: absolute;
  left: 0;
  top:0;
}
