.vRadioButtonWrapper {
  height:auto;
  display:block;
  position: relative;
  float:left;
  margin-right: 5px;
}
.vRadioButtonWrapper :focus{ /*To fix chrome default outline*/
  outline: none;
}
.vRadioButtonWrapper .vRadioButton {
  cursor:pointer;
  box-sizing:border-box;
  border-radius:100%;
  position: absolute;
  left:0;
  top:0;
  width:inherit;
  height: inherit;
}
.vRadioButtonLabel{
  cursor:pointer;
  float:left;
  margin-right:5px;
}
.vRadioButtonWrapper .vRadioButton::before {
  position:absolute;
  content:'';
  border-radius:100%;
  transition:all .2s linear;
  text-align:center;
  box-sizing: border-box;
}
.vRadioButtonWrapper .selected::before {
  background-color:black;
}
.vRadioButtonWrapper .deselected::before{
  background-color:white;
  border:solid 1px black;
}
.xRnative{
  visibility: hidden;
  position: absolute;
  left: -999px;
  top:0;
}
