.vSelect{
  z-index: 100;
}
.vSelect :focus{ /*To fix chrome default outline*/
  outline: none;
}
.vSelect.superActive{
  z-index: 101;
}
.vSelect .sFieldCon{
  position: relative;;
  width:100%;
  z-index:1;
  cursor:pointer;
  box-sizing: border-box;
  
  display:flex;
}
.vSelect .sOptionGroup{
  background-color:#ddd;
  padding-left: 10px;
  height: 23px;
  line-height: 23px;
  font-weight: bold;
  color:black;
}
.vSelect .sField{
  flex:1;
  padding-left: 10px;
  background-color:white;
  border: solid 1px #ccc;
  border-right: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vSelect .sIcon{
  width:35px;
  background-image: linear-gradient(to bottom, #eaeaea 0%,white 100%);
  /* border: solid 1px #dddbdb; */
  position: relative;
}
.vSelect .sIcon::before{
  width:100%;
  height: 100%;
  position: absolute;
  text-align: center;
  color: #ccc;
  font-size: 13px;
  transition: transform .1s linear;
  transform: rotate(0deg);
  content:"v";
}
.vSelect .iconOpen::before{
  transform: rotate(180deg);
}
.vSelect .iconClose::before{
  transform: rotate(0deg);
}
.vSelect .sSearchInput{
  width:98%;
  margin:0 auto;
  box-sizing: border-box;
  display: block;
  height: 35px;
  padding:0 35px 0 10px;
  border: solid 1px #ccc;
  border-radius: 3px;
}
.vSelect .sOptionCon{
  max-height:70vh;
  overflow-y: auto;
  margin-top: 3px;
  scrollbar-width: thin;
}
.vSelect .optionsCon {
  position:absolute;
  width:100%;
  height:0px;
  z-index:inherit;
  transition:height 0.2s linear;
  display:none;
  background-color: white;
  border: solid 1px #ccc;
  box-sizing: border-box;
  overflow: hidden;
}
.vSelect .sSearchBox{
  margin-top:5px;
  position: relative;
}
.vSelect .sSearchBox::before{
  width:35px;
  position: absolute;
  right:0;
  top:0;

}
.vSelect  .optionsCon .sOption {
  position:relative;
  width:100%;
  padding-left:10px;
  height:23px;
  box-sizing:border-box;
  font-size: 13px;
  line-height: 23px;
}
.vSelect .optionsCon .sOption[data-disabled='false'] {
  cursor:pointer;
}
.vSelect .optionsCon .sOption[data-disabled='true'] {
  cursor:not-allowed;
  background-color:#2f2a2a;
  color:#595454!important;
}
.vSelect .innerOpt{
  padding-left: 23px!important;
}
.vSelect .optionsCon .sOption:last-of-type {
  border-bottom:none!important;
}
.vSelect .optionsCon .hovered {
  background-color:rgba(200, 199, 199, 0.3)
}
.vSelect .optionsCon .vSselected {
  background-color:rgba(100, 95, 95, 0.5);
  color:white;
}
.vSelect .sHide{
  display: none;
}
.xSnative{
  visibility: hidden;
  position: absolute;
  left: 0;
  top:0;
}