.vSlideSwitchWrapper {
    position: relative;
    border-radius: 50px;
    border: solid 1px #ccc;
    box-sizing: border-box;
    cursor: pointer;
}
.vSlideSwitchWrapper::before {
    position: absolute;
    border-radius: 100%;
    background-color: white;
    content:'';
    box-sizing: border-box;
    z-index: 1;
    transition: left .1s cubic-bezier(.83,0,.65,.34);
}
.vSlideSwitchWrapper .vSliderBg{
    width: 200%;
    position: absolute;
    height: 100%;
    display: flex;
    transition: left .1s cubic-bezier(.83,0,.65,.34);
}
.vSlideSwitchWrapper.sOff .vSliderBg{
    left:-100%;
}
.vSlideSwitchWrapper.sOff::before{
    left:0px;
}
.vSlideSwitchWrapper.sOn .vSliderBg{
    left:0px;
}
.vSlideSwitchWrapper .vSliderBg > div{
    flex:1;
    font-size: 12px;
}
.vSlideSwitchWrapper .vSliderBg-OFF{
    text-align: right;
    padding-right: 3px;
    box-sizing: border-box;
}
.vSlideSwitchWrapper .vSliderBg-ON{
    text-align: left;
    padding-left:3px;
    box-sizing: border-box;
}
.vSlideSwitchWrapper .vSlideSwitchWrapperVp{
    width:100%;
    height:100%;
    position: relative;;
    overflow: hidden;
    border-radius: 50px;
}
.xChkNative{
    visibility: hidden;
    position: absolute;
    left: 0;
    top:0;
    display: block;
    z-index: -1;
    left: -999px;
  } 