.vToolTip {
  display:none;
  box-shadow:0 0 4px 0 black;
  font-size:13px;
  background-color:#c08bc0;
  color:white;
  position:absolute;
  width:auto;
  height:auto;
  z-index:10000;
  padding: 5px;
  box-sizing: border-box;
  border-radius:5px;
}
.vToolTip::before{
  position:absolute;
  content:'';
}
.vToolTipTop::before{
  position:absolute;
  content:'';
  top:CALC(100%);
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:10px solid #c08bc0;
}
